<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title th:text="${title}">About</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" type="text/css" href="css/app.css" />
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
    			<!--  
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#trains-nav" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			-->
      			<a class="navbar-brand" href="#">Brand</a>
    		</div>
  		</div>
  	</nav>
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-8 col-sm-12">
  				<h3>Graph</h3>
  				<table class="table">
  					<thead>
  						<tr>
  							<th>Source City</th>
  							<th>Destination City</th>
  							<th>Distance</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
  							<td>Star City</td>
  							<td>Central City</td>
  							<td>50</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
  			<div class="col-lg-4 col-sm-12">
  				<h3>Shortest Distance</h3>
  				<form class="form-horizontal">
  					<div class="form-group">
  						<label class="col-lg-4 col-sm-12 control-label">Source</label>
  						<div class="col-lg-8 col-sm-12">
  							<select class="form-control" />
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-lg-4 col-sm-12 control-label">Destination</label>
  						<div class="col-lg-8 col-sm-12">
  							<select class="form-control" />
  						</div>
  					</div>
  					<div class="form-group">
  						<div class="col-lg-offset-4 col-lg-4 col-sm-12">
  							<button class="btn btn-primary">Calculate</button>
  						</div>
  					</div>
  				</form>
  			</div>
  		</div>
  	</div>
  	<form class="form-horizontal">
  		<div class="form-group">
  			
  		</div>
  	</form>
</body>
</html>